username=""
retry_delay=30000 # default = 30000
output="" # default = "./recordings"
live_quality="" # options = "highest" (default), "medium", "lowest"
region="" # default = "FI"

use_discord_webhook=false
webhook_url=""

use_cookie=false # required if tiktok live is age restricted.
cookie_path="" # default = "./cookie.json"

logging=true # default = true
logging_delay=30 # In seconds # default = 30

# WIP
# If you wanna automatically get cookie from tiktok
get_cookie=false 
tiktok_username=""
tiktok_password=""
